<body>
    <div class="background-content-photo">
    </div>

    <app-navbar-user (logout)="logout()"></app-navbar-user>

    <div class="button-container">
      <button class="round-button round-button-start" (click)="toggleStartStop()">
        <img *ngIf="isStart" width="50" height="50" src="https://img.icons8.com/ios/50/1A1A1A/start--v1.png" />
            <img *ngIf="!isStart" width="50" height="50"  src="https://img.icons8.com/ios/50/1A1A1A/circled-pause.png" />
            {{ isStart ? 'Start' : 'Stop' }}
        </button>
    </div>

    <div class="clock" id="clock">{{ timeDifference }}</div>
  </body>


