<section class="star-web">
    <nav class="nav-list">
      <div class="nav-buttons">
        <a href="http://localhost:4200/user/time-managment"><button><i ></i> Czas pracy</button></a>
        <a href="http://localhost:4200/user/settings"><button><i ></i> Opcje</button></a>
        <a href="http://localhost:4200/user/history-work"><button><i ></i>Historia pracy</button></a>
        <a href="http://localhost:4200/login" (click)="onLogout()" ><button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
      </div>
    </nav>
  </section>
