body {
    background-color: #111111;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background-content-photo {
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.hero {
  background-color: #fff;
  padding: 20px;
  width: 650px;
  position: absolute;
  margin-top: -400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #333;
}

.hero h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.hero ul {
  list-style: none;
  padding: 0;
}

.hero li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.hero li button {
  padding: 10px 20px;
  background-color: #e64a19;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.hero li button:hover {
  background-color: #c8380f;
}
