<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="background-content-photo">
        <img width="1603" height="620" src="{{ startPageLogoPath }}" alt="Your Image" class="image"/>
      </div>
     <div class="reg-and-log">
        <a class="registration-button" href="/registration"><button>Register</button></a> 
        <a class="login-button" href="/login"><button>Log in</button></a>
    </div>      
</body>



