body {
    margin: 0;
    overflow: hidden;
}

.background-content-photo {
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;  /* Increased width */
    padding: 30px;  /* Increased padding */
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 1.75rem;  /* Slightly larger font size */
    margin-bottom: 20px;  /* Increased margin */
}

.form-group {
    text-align: left;
    margin: 15px 0;  /* Increased margin */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;  /* Added margin for better spacing */
}

input {
    width: 94%;
    padding: 10px;  /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;  /* Larger font size for better readability */
}

button {
    width: 94%;
    padding: 12px;  /* Increased padding */
    background-color: #e64a19;
    color: #fff;
    border: none;
    border-radius: 25px; /* Slightly rounder corners on hover */
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s; /* Added border-radius transition */
    font-size: 1rem;  /* Larger font size */
}

button:hover {
    background-color: #d84315;
    border-radius: 25px; /* Slightly rounder corners on hover */
}

p {
    margin: 20px 0;  /* Increased margin */
}

a {
    color: #e64a19;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 0.9rem;  /* Slightly smaller font size to differentiate */
}
