<body>
    <div class="background-content-photo">
    </div>

      <app-navbar-admin (logout)="logout()"></app-navbar-admin>
      
      <section class="hero">
        <label for="userSelect">Wybierz konto:</label>
        <select id="userSelect" [(ngModel)]="selectedUser" (change)="onUserChange()">
            <option *ngFor="let user of users" [value]="user.accountId">
                {{ user.userEmail }} {{ user.name }} {{ user.surname }} {{ user.position }}
            </option>
        </select>
        <section class="search">
          <input type="date" [(ngModel)]="startDate" placeholder="Data od">
          <input type="date" [(ngModel)]="endDate" placeholder="Data do">
          <button (click)="searchWorkHistory()">Szukaj</button>
          <button (click)="downloadWorkHistoryPdf(selectedUser)">Pobierz historię pracy</button>
        </section>
      </section>
    
   
  
    <div class="work-container">
      <div class="work-item" *ngFor="let work of workHistory; let i = index">
        <div class="work-details">
          <div class="work-number">{{ i + 1 }}</div>
          <p>Stan: {{ work.stage }}</p>
          <p>Rozpoczęte: {{ formatWorkDate(work.startDate) }}  {{ work.startHour }} </p>
          <p>Zakończone: {{ formatWorkDate(work.endDate) }}  {{ work.endHour }}</p>
          <p>Trwało: {{ calculateDuration(work) }}</p>
        </div>
      </div>
    </div>
    <div class="total-duration">Ilość godzin przepracowanych w danym okresie:  {{ totalDuration }}</div>

</body>



