<body>
    <div class="background-content-photo"></div>
    <app-navbar-user (logout)="logout()"></app-navbar-user>
       
    <section class="settings-container">
        <div class="settings-row">
            <span class="settings-label">Email:</span>
            <span class="settings-value">{{ account.userEmail }}</span>
            <div class="change-button" (click)="toggleChangeInput('email')">Change</div>
        </div>
        <div class="change-input" *ngIf="showEmailInput">
            <input type="text" [(ngModel)]="newEmail" placeholder="New email">
            <button (click)="updateAccount(account.accountId, 'userEmail', newEmail)">Update</button>
        </div>
    
        <div class="settings-row">
            <span class="settings-label">Name:</span>
            <span class="settings-value">{{ account.name }}</span>
            <div class="change-button" (click)="toggleChangeInput('name')">Change</div>
        </div>
        <div class="change-input" *ngIf="showNameInput">
            <input type="text" [(ngModel)]="newName" placeholder="New name">
            <button (click)="updateAccount(account.accountId, 'name', newName)">Update</button>
        </div>
    
        <div class="settings-row">
            <span class="settings-label">Surname:</span>
            <span class="settings-value">{{ account.surname }}</span>
            <div class="change-button" (click)="toggleChangeInput('surname')">Change</div>
        </div>
        <div class="change-input" *ngIf="showSurnameInput">
            <input type="text" [(ngModel)]="newSurname" placeholder="New surname">
            <button (click)="updateAccount(account.accountId, 'surname', newSurname)">Update</button>
        </div>
    
        <div class="settings-row">
            <span class="settings-label">Position:</span>
            <span class="settings-value">{{ account.position }}</span>
            <div class="change-button" (click)="toggleChangeInput('position')">Change</div>
        </div>
        <div class="change-input" *ngIf="showPositionInput">
            <input type="text" [(ngModel)]="newPosition" placeholder="New position">
            <button (click)="updateAccount(account.accountId, 'position', newPosition)">Update</button>
        </div>
    </section>
</body>
