<section class="star-web">
    <nav class="nav-list">
      <div class="nav-buttons">
        <a href="http://localhost:4200/admin/monitor-users"><button><i class="fas fa-user"></i> Użytkownicy</button></a>
        <a href="http://localhost:4200/admin/activation-account"><button><i class="fas fa-book"></i> Aktywuj konta</button></a>
        <a href="http://localhost:4200/login" (click)="onLogout()" ><button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
      </div>
    </nav>
  </section> 