<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="background-content-photo">
    </div>
    
    <section class="star-web">
        <nav class="nav-list">
          <div class="nav-buttons">
            <a href="http://localhost:4200/user/time-managment"><button><i ></i> Czas pracy</button></a>
            <a href="http://localhost:4200/user/settings"><button><i ></i> Opcje</button></a>
            <a href="http://localhost:4200/user/history-work"><button><i ></i>Historia pracy</button></a>
            <a href="http://localhost:4200/login" (click)="logout()" ><button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
          </div>
        </nav>
      </section> 
   
      <div class="sort-controls">
        <label>Sortuj według:</label>
        <select [(ngModel)]="sortBy">
          <option value="state">Stan</option>
          <option value="startDate">Data rozpoczęcia</option>
          <option value="endDate">Data zakończenia</option>
          <option value="duration">Czas trwania</option>
        </select>
        <label for="sortDirection">Kierunek sortowania:</label>
        <select [(ngModel)]="sortDirection">
          <option value="asc">Rosnąco</option>
          <option value="desc">Malejąco</option>
        </select>

        <section class="search">
          <input type="date" [(ngModel)]="startDate" placeholder="Data od">
          <input type="date" [(ngModel)]="endDate" placeholder="Data do">
          <button (click)="searchWorkHistory()">Szukaj</button>
          <button (click)="downloadWorkHistory()">Pobierz historię pracy</button>
        </section>
      </div>
      
      <div class="total-duration">
        Ilość godzin przepracowanych w danym okresie: {{ totalDuration }}
      </div>

      <section class="work-container">
        <div class="work-item" *ngFor="let work of filteredWorkHistory; let i = index">
          <div class="work-details">
            <div class="work-number">{{ i + 1 }}</div>
            <p>Stan: {{ work.stage }}</p>
            <p>Rozpoczęte: {{ formatWorkDate(work.startDate) }}  {{ work.startHour }} </p>
            <p>Zakończone: {{ formatWorkDate(work.endDate) }}  {{ work.endHour }}</p>
            <p>Trwało: {{ calculateDuration(work) }}</p>
          </div>
        </div>
      </section>

    


      
      
      
      

</body>


