<body>
  <div class="background-content-photo">
  </div>

  <app-navbar-user (logout)="logout()"></app-navbar-user>

  <div class="sort-controls">
    <label>Sortuj według:</label>
    <select [(ngModel)]="sortBy">
      <option value="state">Stan</option>
      <option value="startDate">Data rozpoczęcia</option>
      <option value="endDate">Data zakończenia</option>
      <option value="duration">Czas trwania</option>
    </select>
    <label for="sortDirection">Kierunek sortowania:</label>
    <select [(ngModel)]="sortDirection">
      <option value="asc">Rosnąco</option>
      <option value="desc">Malejąco</option>
    </select>

    <section class="search">
      <input type="date" [(ngModel)]="startDate" placeholder="Data od">
      <input type="date" [(ngModel)]="endDate" placeholder="Data do">
      <button (click)="searchWorkHistory()">Szukaj</button>
      <button (click)="downloadWorkHistory()">Pobierz historię pracy</button>
    </section>
  </div>

  <div class="total-duration">
    Ilość godzin przepracowanych w danym okresie: {{ totalDuration }}
  </div>

  <section class="work-container">
    <div class="work-item" *ngFor="let work of filteredWorkHistory; let i = index">
      <div class="work-details">
        <div class="work-number">{{ i + 1 }}</div>
        <p>Stan: {{ work.stage }}</p>
        <p>Rozpoczęte: {{ formatWorkDate(work.startDate) }} {{ work.startHour }} </p>
        <p>Zakończone: {{ formatWorkDate(work.endDate) }} {{ work.endHour }}</p>
        <p>Trwało: {{ calculateDuration(work) }}</p>
      </div>
    </div>
  </section>
</body>
